<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard</title>
</head>
<body>
    <main class="container">
        <h1><%= library.name %>: Dashboard</h1>
        <h2>About <%= library.name %></h2>
        <p><%= library.description %></p>
        <span>For more information, visit <a href="https://github.com/CKAY-9/public-library">the official repository</a> of Public Library</span>
        <% if (user === null) { %>
            <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" name="username" id="usernameInput" />
            <label for="password">Passowrd</label>
            <input type="password" name="password" id="passwordInput" />
            <section>
                <button onclick="login()">Login</button>
                <button onclick="register()">Register</button>
            </section>
        <% } else { %>
            <h1>Hello, <%= user.username %></h1>
            <% if (user.admin) { %>
                <a href="/admin">Admin Settings</a>
            <% } %>
            <h2>Your Keys</h2>
            <% if (keys.length <= 0) { %>
                <span>None</span>
            <% } else { %>
                <div class="keys">
                    <% for (let index = 0; index < keys.length; index++) { %>
                        <div class="key">
                            <span>Key #<%= index + 1 %></span>
                            <span>Host: <%= keys[index].host %></span>
                            <span>Key: <%= keys[index].key %></span>
                            <span>Status: <%= keys[index].approved ? "Approved" : "Awaiting Approval" %></span>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <button onclick="appendPopup()">New</button>
        <% } %>
    </main>

    <script src="/static/cookie.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>